@mixin transition($prop: opacity, $delay: 0.2s, $func: ease-in-out) {
  transition: $prop $delay $func;
}

@mixin flex--alignment($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($size, $line) {
  font-size: $size;
  line-height: $line;
}
