/**
 * Fonts
 */
$font-family-base: "Merriweather", serif;
$font-size-default: 1rem;

/**
 * spaces
 */
$default-block-space: 24px;

/**
 * Colors
 */
$primary: #403432;
$secondary: #5B3A32;
$info: #E1E1E1;
$info--light: #ECEAEA;
$info--lighter: #E7E7E7;
$btn--disable: #C1B4B1;
$btn--hover: #776763;
$white: #F4F6F9;
$black: #343030;
$grey: #B5B5B5;
$grey--dakr: #9F9F9F;
$grey--darker: #A0A0A0;


$container-max-width: 1024px;
