/**
 * Fonts
 */
$font-family-base: "Merriweather", serif;
$font-size-default: 1rem;

/**
 * spaces
 */
$default-block-space: 24px;

/**
 * Colors
 */
$primary: #382E2B;
$secondary: #5B3A32;
$btn--disable: #C1B4B1;
$btn--hover: #776763;
$white: #fff;
$black: #343030;

$container-max-width: 1024px;
